html{
    scroll-behavior: smooth;
    max-width: 100%;
    min-height: 400vh;

    body{
        background-color: #222323;
        font-family: 'Roboto', sans-serif;
        .body-wrapper{
            .body-innerwrapper{
                
                //header

                header{
                    background-color: #222323;
                    z-index: 99;
                    .header-container{
                        
                        #menubar{
                            font-weight: 500;
                            font-size: 15px;
                            color: #fff; 
                            
                            #menulist{
                               list-style-type: none; 
                               position: absolute;
                               top: 36px;
                               left: 419px;
                               font-size: 12px;
                               padding: 0;
                               overflow: hidden;

                               .menuitem{
                                   float: left;
                                   .button{
                                      text-align: center;
                                       display: block;
                                       padding: 13px;
                                       transition: color 1s;
                                   }
                                   .button:hover{
                                    color: rgb(227, 107, 77);
                                    font-size: 500;
                                   }
                                }
                            }
                        }
                               
                        #ikon{
                            position: absolute;
                            top: 41px;
                            right: 202px;
                            height: 28px;
                        }
                    }
                }

                // first box

                #first{
                    #back{
                        position: relative;
                        text-align: center;
                        margin-top: 380px;

                        font-weight: 700;
                        font-size: 270px;
                
                        -webkit-text-fill-color: #222323;
                        -webkit-text-stroke: 1px rgb(47, 47, 47);
                        transform: rotate(-20deg);

                        z-index: -1;
                    }
                    #Im{
                        position: relative;
                        margin-top: -395px;
                        margin-left: 190px;

                        font-weight: 700;
                        font-size: 70px;
                        letter-spacing: 0.02em;
                        color:rgb(71, 71, 71) ;
                        line-height: 0.9;
                    }
                    #graphic{
                        position: relative;
                        margin-left: 190px;

                        font-weight: 700;
                        font-size: 95px;
                        letter-spacing: 0.08em;
                        color:#fff ;
                        line-height: 0.9;
                    }
                    #dot{
                        margin-top: -30px;
                        margin-left: 710px;
                        position: relative;

                        width: 20px;
                        height: 20px;

                        background-color: rgb(227, 107, 77);
                    }
                    #contact{
                        position: relative;
                        margin-left: 195px;
                        margin-top: 26px;

                        width: 115px;
                        height: 25px;

                        font-weight: 500;
                        font-size: 15px;
                        letter-spacing: 0.3px;
                        color: #fff;
                        
                        background-color: rgb(227, 107, 77);
                    }
                }

                // secound box

                #secound{
                    color: #fff;
                    .background{
                        margin-top: 230px;
                        width: 100%;
                        height: 140vh;
                        background-color: #1d1e1e;
                    
                        .title-back{
                            position: relative;
                            text-align: center;
                            top: 60px;
                            font-size: 130px;
                            letter-spacing: 0.08em;
                            color: #222323;
                        }
                        .title{
                            text-align: center;
                            position: relative;
                            margin-top: -40px;
                            font-size: 55px;
                            letter-spacing: 0.08em;
                            color:  rgb(227, 107, 77);
                        }
                        #border{
                            position: relative;
                            top: 93px;
                            left: 222px;
                            width: 345px;
                            height: 432px;
                            border: solid 7px rgb(227, 107, 77);
                            border-radius: 3px;
                            
                        }
                        #profil{
                            position: relative;
                            margin-top: -379px;
                            margin-left: 184px;
                            height: 442px;
                        }
                        .row{
                            position: relative;
                            top: -444px;
                            left: 607px;
                            letter-spacing: 0.08em;
                            font-weight: 400;
                            font-size: 19px;
                            span{
                                color: rgb(227, 107, 77);
                            }
                        }
                        .introduction{
                            #art{
                                height: 130px;
                                width: 461px;
                                text-align: left;
                                position: absolute;
                                top: 1083px;
                                left: 608px;
                                font-size: 13px;
                                line-height: 2;
                                cursor: default;
                            }
                        }
                        .name{
                            position: relative;
                            left: 568px;
                            top: -242px;
                            text-align: center;
                            width: 200px;
                            font-size: 15px;
                            line-height: 1.2;
                            color: rgb(227, 107, 77); 
                            span{
                                font-size: 18px;
                                color: #fff;    
                            }
                        }
                        .country{
                            position: relative;
                            left: 571px;
                            top: -208px;
                            text-align: center;
                            width: 200px;
                            font-size: 15px;
                            line-height: 1.2;
                            color: rgb(227, 107, 77); 
                            span{
                                font-size: 14px;
                                color: #fff;    
                            }
                        }
                        .phone{
                            position: relative;
                            left: 853px;
                            top: -317px;
                            text-align: center;
                            width: 200px;
                            font-size: 15px;
                            line-height: 1.2;
                            color: rgb(227, 107, 77); 
                            span{
                                font-size: 14px;
                                color: #fff;    
                            }
                        }
                        .email{
                            position: relative;
                            left: 855px;
                            top: -285px;
                            text-align: center;
                            width: 200px;
                            font-size: 15px;
                            line-height: 1.2;
                            color: rgb(227, 107, 77); 
                            span{
                                font-size: 14px;
                                color: #fff;    
                            }
                        }
                        .education{
                            position: relative;
                            left: 626px;
                            top: -230px;
                            text-align: center;
                            width: 360px;
                            font-size: 14px;
                            line-height: 1.2;
                            color: rgb(227, 107, 77); 
                            span{
                                font-size: 18px;
                                color: #fff;    
                            }
                        }
                        .ikons{
                            position: relative;
                            width: 200px;
                            display: flex;
                            justify-content: space-between;
                            left: 710px;
                            margin-top: -172px;
                            #glob{
                                width: 30px;
                                height: 30px;
                                color: #fff;
                                border: solid 1px;
                            }
                            #face{
                                width: 30px;
                                height: 30px;
                                color: #fff;
                                border: solid 1px;
                            }
                            #twit{
                                width: 30px;
                                height: 30px;
                                color: #fff;
                                border: solid 1px;
                            }
                            #pint{
                                width: 30px;
                                height: 30px;
                                color: #fff;
                                border: solid 1px;
                            }
                            #insta{
                                width: 30px;
                                height: 30px;
                                color: #fff;
                                border: solid 1px;
                            }
                        }
                        
                    }
                }
                // third box 
                #third{
                    .title-back{
                        position: relative;
                        text-align: center;
                        top: 60px;
                        font-size: 130px;
                        letter-spacing: 0.08em;
                        color: rgb(45, 45, 45);
                    }
                    .title{
                        text-align: center;
                        position: relative;
                        margin-top: -40px;
                        font-size: 55px;
                        letter-spacing: 0.08em;
                        color:  rgb(227, 107, 77);
                    }
                    #know{
                        height: 360px;
                        margin-top: 30px;
                    }
                    #available{
                        margin-top: 50px;
                        text-align: center;
                        font-weight: 700;
                        font-size: 30pt;
                        color: #fff;
                    }
                }      
            }
        }
    }
}