html {
    scroll-behavior: smooth;
}
.top {
    position: absolute;
    top: 0;
}
.bottom {
    position: absolute;
    bottom: 0;
}

body {
    background-color: #222323;
    margin : 0px;
}

#menubar {
    
    position: fixed;
    width: 150px;
    height: 55%;
    right: 0;
    margin-top:0px;
    width: 12%;
    top:10%;
    right: 1%;
    font-family: 'Roboto', sans-serif;
}
.button {
    text-decoration: none;
    color: inherit;
}